<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
</head>
<body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<table border = "10" width="50%">
    <tr>
        <th>태그</th>
    <th>이름</th>
    <th>가격</th>
    <th>위치</th>
    </tr>
    <% for(var i = 0; i < 3; i++) { %>
    <tr>
        <td> <%= rows[i].id %></td>
        <td> <%= rows[i].name %></td>
        <td> <%= rows[i].price %></td>
        <td> <%= rows[i].count %></td>
        <td> <%= rows[i].place %></td>
        </tr>
    <% } %>
</table>
</body>
</html>
